*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    overflow-y:scroll;
    height:100%;
}
img {
    vertical-align:bottom
}
table {
    width:100%;
    margin:60px 0px 20px 0px;
    border:0px solid gray;
    border-collapse:collapse;
    border-spacing:0px;
}
td.header-column-1 {
    height:30px;
    padding-left:0px;
    width:auto;
    background-image:url("../images/logo_stretch.gif");
    background-repeat:repeat-x;
    padding-top: 0px;
    padding-bottom: 0px;
}
td.header-column-2 {
    height:30px;
    padding-left:0px;
    width:890px;
    padding-top: 0px;
    padding-bottom: 0px;
}
td.header-column-3 {
    height:30px;
    padding-left:0px;
    width:auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
p {
    margin-top:0px;
    margin-bottom:0px;
}
form {
    width:100%;
}
input.kontakt-formular-field {
    width:100%;
    background-color: rgb(235, 235, 235);
    padding: 2px 6px 2px 6px;
    border-width:0;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW02-45Ligh", Arial, sans-serif;
    font-size: 16px;
    color: #666666;
}
.kontact-formular {
    width:100%;
    text-align:;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
}
.kontact-formular-row {
    padding:0px;
    margin:0px;
    height:auto;
}
.kontact-formular-cell {
    padding:0px;
    margin:0px;
    width :100%;
    height:auto;
    vertical-align: baseline;
}
.kontact-formular-label {
    padding:0px 6px 0px 0px;
    margin:0px;
    height:auto;
}
textarea {
    resize: none;
    width:100%;
    background-color: rgb(235, 235, 235);
    padding: 2px 6px 2px 6px;
    border-width:0;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW02-45Ligh", Arial, sans-serif;
    font-size: 16px;
    color: #666666;
}
.textarea-label-holder {
    padding:6px 4px 0px 0px;
    margin: 0px;
    height:auto;
    vertical-align: top;
}
.textarea-label {
    padding:0px;
    vertical-align: top;
    margin: 0px;
    height:auto;
}
.input-wrapper {
    display: inline-block;
    width:100%;
    padding-top: 1px;
}
.logo {
    width:213px;
    height:46px;
}
#header-menu-spacer {
    height:66px;
    width:100%;
}
#map_canvas {
    float:left;
    margin-right:30px;
    width:500px;
    height:400px;
}
/* Layout for footer to stick to the bottom of the page */
 .wrapper {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto -30px;
}
.footer, .push {
    height:30px;
    margin-top:30px;
    font-size:10px;
}
.objekte-squeezed {
    height:300px;
    overflow:hidden;
}
.objekte-normal {
}
.centered {
    width:890px;
    margin:0px auto 0px auto;
}
.paragraph-spacer {
    clear:both;
    height:30px;
}
.paragraph-with-space-below {
    margin:0px;
    padding-bottom:30px;
}
.vertical-spacer-20px {
    width: 100%;
    height: 20px;
}
.vertical-spacer-30px {
    width: 100%;
    height: 30px;
}
.column1 {
    float:left;
    width:430px;
    margin-right:30px;
    margin-top:0px;
    margin-bottom:0px;
}
.column2 {
    float:left;
    width:430px;
    margin-top:0px;
    margin-bottom:0px;
}
.tab-content-holder {
    overflow:auto;
}
.content-top-spacer {
    clear:both;
    height:21px;
}
.team-image {
    float:right;
    width:140px;
    height:180px;
}
.clearfix {
    clear:both;
}