table {
    width : 100%;
    margin: 60px 0px 20px 0px;
    border: 0px solid gray;
    border-collapse: collapse;
    border-spacing: 0px;
}
td {
    height: 30px;
    padding-left: 0px;
}
.table-column-1 {
    width: auto;
    background-image:url("../images/logo_stretch.gif");
    background-repeat: repeat-x;
}
.table-column-2 {
    width: 920px;
}
.table-column-3 {
    width: auto;
}